.navbar{
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  width: 100%;

  .container-navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 1;
    margin-left: 15px;

    .navbar-logo-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            font-size: 18px;
            font-family: "Satisfy";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 2px;
            text-decoration: none;

            svg {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                width: 20px;
                height: 20px;
                margin-left: 2px;
                margin-right: 2px;
                fill: rgb(255, 0, 0);

                &:hover{
                    fill: rgb(170, 16, 93);
                }
            }
        }
    }
  }
  .container-navbar-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    gap: 30px;
    flex: 1;

    .navbar-itens {
        a {
            font-size: 18px;
            font-family: "Staatliches";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 1px;
            text-decoration: none;
            &:hover{
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                padding: 10px;
            }
        }
    }
  }

  .container-navbar-itens-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    gap: 5px;
    flex: 0 1 1;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    &:hover{

      .navbar-itens-title-menu {
        a {
          .span-green{
            color: green;
            margin-right: 5px;
          }

          .span-white{
            color: white;
          }
        }
      }

      .navbar-itens-lang-selected{
        a{
          color: rgb(231, 50, 50);
         }
      }
  }

    .navbar-itens-title-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            font-size: 18px;
            font-family: "Staatliches";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 1px;
            text-decoration: none;

            .span-green{
              margin-right: 5px;
            }

        }
        .svg-green {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            padding-left: 5px;
            height: 20px;
            width: 20px;
            fill: green;
        }

        .svg-white {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-self: center;
          justify-content: center;
          align-content: center;
          padding-left: 5px;
          height: 20px;
          width: 20px;
          fill: white;
      }

      .svg-red {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        padding-left: 5px;
        height: 20px;
        width: 20px;
        fill: red;
    }
    }

    .navbar-itens-title-menu-true {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            font-size: 18px;
            font-family: "Staatliches";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 1px;
            text-decoration: none;
        }
        .svg-green {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-self: center;
          justify-content: center;
          align-content: center;
          padding-left: 5px;
          height: 20px;
          width: 20px;
          fill: green;
      }

      .svg-white {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        padding-left: 5px;
        height: 20px;
        width: 20px;
        fill: white;
    }

    .svg-red {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: center;
      justify-content: center;
      align-content: center;
      padding-left: 5px;
      height: 20px;
      width: 20px;
      fill: red;
  }
    }

    .open-menu-lang{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        position: fixed;
        background-color: rgb(0, 0, 0);
        width: 150px;
        height: 200px;
        top: 60px;

        .navbar-itens-lang-selected {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            .focus-lang{
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                font-size: 18px;
                font-family: "Staatliches";
                font-weight: 700;
                color: rgb(255, 255, 255);
                letter-spacing: 1px;
                text-decoration: none;
                padding: 5px;
            }
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                font-size: 18px;
                font-family: "Staatliches";
                font-weight: 700;
                color: rgb(122, 117, 117);
                letter-spacing: 1px;
                text-decoration: none;
                padding: 5px;
            }
        }
    }

    .navbar-itens-lang-selected {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            font-size: 18px;
            font-family: "Staatliches";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 1px;
            text-decoration: none;
        }
    }
  }
}
