<div class="pizza-doce">
  <div id="pizza-doce" class="id-rastreador-pizza-doce"></div>
  <div class="title-container">Pizzas Doces </div>
  <div class="pizza-doce-expanded" *ngIf="showMorePizzas===false" (click)="changeShowMorePizzas()">
    <div class="title-container">
      <div class="expanded-menu-off">
         [Ver Mais
         <svg class="svg-custom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="rgb(128, 104, 27)"><path d="M374.6 310.6l-160 160C208.4 476.9 200.2 480 192 480s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 370.8V64c0-17.69 14.33-31.1 31.1-31.1S224 46.31 224 64v306.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0S387.1 298.1 374.6 310.6z" />
      </svg>
         ]
    </div>
  </div>
  </div>
  <div class="pizza-doce-expanded" *ngIf="showMorePizzas===true" (click)="changeShowMorePizzas()">
    <div class="title-container">
      <div class="expanded-menu-off">
        [Ver Menos
        <svg class="svg-custom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="rgb(128, 104, 27)"><path d="M374.6 246.6C368.4 252.9 360.2 256 352 256s-16.38-3.125-22.62-9.375L224 141.3V448c0 17.69-14.33 31.1-31.1 31.1S160 465.7 160 448V141.3L54.63 246.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160C387.1 213.9 387.1 234.1 374.6 246.6z" />
        </svg>
        ]
      </div>
    </div>
  </div>
  <div class="container-grid">
    <div [ngClass]="{'display-pizza-grid-off':showMorePizzas===false}" *ngIf="showMorePizzas===false">
      <!--Provisório apagar depois-->
      <app-model-card-pizza class="show-row" *ngIf="3" [id]="1" [namePizza]="'Pizza de Chocolate'" [ingredients]="['Chocolate','Queijo']" [price]="48" [priceWithPromotion]="44" ></app-model-card-pizza>
      <app-model-card-pizza class="show-row" *ngIf="3" [id]="1" [namePizza]="'Pizza de Banana'" [ingredients]="['Banana','Queijo','Canela']" [price]="49" [priceWithPromotion]="45" ></app-model-card-pizza>
      <app-model-card-pizza class="show-row" *ngIf="3" [id]="1" [namePizza]="'Pizza de Doce de Leite'" [ingredients]="['Doce de Leite','Queijo']" [price]="46" [priceWithPromotion]="42" ></app-model-card-pizza>
      <!--Provisório termina aqui-->
      <ng-container *ngFor="let pizza of httpResponseClient;" class="show-row" >
        <app-model-card-pizza class="show-row" *ngIf="pizza.pizzaType===3" [id]="pizza.id" [namePizza]="pizza.namePizza" [ingredients]="pizza.ingredients" [price]="pizza.price" [priceWithPromotion]="pizza.priceWithPromotion" ></app-model-card-pizza>
      </ng-container>
    </div>
    <div [ngClass]="{'display-pizza-grid-all':showMorePizzas===true}" *ngIf="showMorePizzas===true">
      <ng-container *ngFor="let pizza of httpResponseClient;" class="show-row" >
        <app-model-card-pizza class="show-row" *ngIf="pizza.pizzaType===3" [id]="pizza.id" [namePizza]="pizza.namePizza" [ingredients]="pizza.ingredients" [price]="pizza.price" [priceWithPromotion]="pizza.priceWithPromotion" ></app-model-card-pizza>
      </ng-container>
    </div>
  </div>
</div>
<div class="pizza-doce-expanded" *ngIf="showMorePizzas===false" (click)="changeShowMorePizzas()">
  <div class="title-container">
    <div class="expanded-menu-off">
       [Ver Mais
       <svg class="svg-custom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="rgb(128, 104, 27)"><path d="M374.6 310.6l-160 160C208.4 476.9 200.2 480 192 480s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 370.8V64c0-17.69 14.33-31.1 31.1-31.1S224 46.31 224 64v306.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0S387.1 298.1 374.6 310.6z" />
    </svg>
       ]
  </div>
</div>
</div>
<div class="pizza-doce-expanded" *ngIf="showMorePizzas===true" (click)="changeShowMorePizzas()">

  <!-- <div class="container-grid">
    <div class="display-pizza-grid">
      <ng-container *ngFor="let pizza of httpResponseClient;" >
        <app-model-card-pizza [id]="pizza.id" [namePizza]="pizza.namePizza" [ingredients]="pizza.ingredients" [price]="pizza.price" [priceWithPromotion]="pizza.priceWithPromotion" ></app-model-card-pizza>
      </ng-container>
    </div>
  </div> -->

  <div class="title-container">
    <div class="expanded-menu-off">
      [Ver Menos
      <svg class="svg-custom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="rgb(128, 104, 27)"><path d="M374.6 246.6C368.4 252.9 360.2 256 352 256s-16.38-3.125-22.62-9.375L224 141.3V448c0 17.69-14.33 31.1-31.1 31.1S160 465.7 160 448V141.3L54.63 246.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160C387.1 213.9 387.1 234.1 374.6 246.6z" />
      </svg>
      ]
    </div>
  </div>

</div>
