<div class="contact">
  <div id="contact" class="id-rastreador-contact"></div>
  <div class="title">{{"Quem Somos"|translate}}</div>
  <div class="borderLine flag-green" *ngIf="animationFlagItaly===1"></div>
  <div class="borderLine flag-white" *ngIf="animationFlagItaly===2"></div>
  <div class="borderLine flag-red" *ngIf="animationFlagItaly===3"></div>
  <div class="borderLine flag-italy" *ngIf="animationFlagItaly===4"></div>
  <div class="sub-content">
    Uma paixão inexplicável por pizza
  </div>
  <div class="sub-content">
    <span>Pizza no fogão a lenha</span>
  </div>
  <div class="sub-content">
    <span>Começou fazendo pizza para família</span>
  </div>
</div>
