<div class="news-publicity">
  <div class="logo-area">
    <img class="logo" src="assets/images/nova-logo-pizza-amore.jpeg" />
  </div>
  <div id="sabores" class="id-rastreador-news-publicity"></div>
  <div class="title">{{ "Sabores" | translate }}</div>
  <div class="borderLine flag-green" *ngIf="animationFlagItaly === 1"></div>
  <div class="borderLine flag-white" *ngIf="animationFlagItaly === 2"></div>
  <div class="borderLine flag-red" *ngIf="animationFlagItaly === 3"></div>
  <div class="borderLine flag-italy" *ngIf="animationFlagItaly === 4"></div>

  <div class="title-container">{{ "Pizza Amore Expo" | translate }}</div>

  <div class="container-grid" *ngIf="this.DOMNavbar.width >= 601">
    <div style="margin-top: 20px; margin-bottom: 90px;">
      <video class="video-size" style="place-content: center;" controls>
        <source src="assets/video/video.mp4" type="video/mp4" />
      </video>
    </div>
  </div>

  <div class="container-grid" style="flex-direction: row; margin-top: 10px; margin-bottom: 30px; border-radius: 8px" *ngIf="this.DOMNavbar.width <= 601">
    <div class="chevron-left common-svg" (click)="chevronIncDec(-1)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <polygon
          points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"
        />
      </svg>
    </div>
    <video
      controls
      class="show-row video-size"
      style="display: flex; flex-direction: column; margin-top: 10px; border-radius: 8px; width: 80%;"
      *ngIf="this.selectButton === 1"
    >
      <source src="assets/video/video.mp4" type="video/mp4" />
    </video>
    <video
    controls
    class="show-row video-size"
    style="display: flex; flex-direction: column; margin-top: 10px; border-radius: 8px; width: 80%;"
    *ngIf="this.selectButton === 2"
  >
    <source src="assets/video/video.mp4" type="video/mp4" />
  </video>
  <video
  controls
  class="show-row video-size"
  style="display: flex; flex-direction: column; margin-top: 10px; border-radius: 8px; width: 80%;"
  *ngIf="this.selectButton === 3"
>
  <source src="assets/video/video.mp4" type="video/mp4" />
</video>
<video
controls
class="show-row video-size"
style="display: flex; flex-direction: column; margin-top: 10px; border-radius: 8px; width: 80%;"
*ngIf="this.selectButton === 4"
>
<source src="assets/video/video.mp4" type="video/mp4" />
</video>
    <div class="chevron-right common-svg" (click)="chevronIncDec(+1)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <polygon
          points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"
        />
      </svg>
    </div>
  </div>

  <!-- <div class="title-container">{{ "Mais Vendidas" | translate }}</div>

  <div class="container-grid" *ngIf="this.DOMNavbar.width >= 601">
    <div class="display-pizza-grid">

      <app-model-card-pizza
        class="show-row"
        *ngIf="3"
        [img]="'assets/images/frango com catupiry.jpeg'"
        [id]="1"
        [namePizza]="'Pizza de Frango Catupiry' | translate"
        [ingredients]="[
          'Presunto' | translate,
          'Queijo' | translate,
          'Ovo' | translate,
          'Azeitona' | translate,
          'Orégano' | translate
        ]"
        [price]="52"
        [priceWithPromotion]="46"
      ></app-model-card-pizza>
      <app-model-card-pizza
        class="show-row"
        *ngIf="3"
        [img]="'assets/images/calabresa.jpeg'"
        [id]="1"
        [namePizza]="'Pizza de Calabresa' | translate"
        [ingredients]="[
          'Calabresa' | translate,
          'Queijo' | translate,
          'Orégano' | translate
        ]"
        [price]="46"
        [priceWithPromotion]="42"
      ></app-model-card-pizza>
      <app-model-card-pizza
        class="show-row"
        *ngIf="3"
        [img]="'assets/images/chocolate e calabresa.jpeg'"
        [id]="1"
        [namePizza]="'Pizza de Chocolate' | translate"
        [ingredients]="['Chocolate' | translate, 'Queijo' | translate]"
        [price]="48"
        [priceWithPromotion]="44"
      ></app-model-card-pizza>
    </div>
  </div>

  <div class="container-grid" *ngIf="this.DOMNavbar.width <= 601">
    <div class="display-pizza-grid">
      <div class="chevron-left common-svg" (click)="chevronIncDec(-1)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <polygon
            points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"
          />
        </svg>
      </div>

      <app-model-card-pizza
        class="show-row"
        *ngIf="this.selectButton === 1"
        [img]="'assets/images/frango com catupiry.jpeg'"
        [id]="1"
        [namePizza]="'Pizza de Frango Catupiry' | translate"
        [ingredients]="[
          'Presunto' | translate,
          'Queijo' | translate,
          'Ovo' | translate,
          'Azeitona' | translate,
          'Orégano' | translate
        ]"
        [price]="52"
        [priceWithPromotion]="46"
      ></app-model-card-pizza>
      <app-model-card-pizza
        class="show-row"
        *ngIf="this.selectButton === 2"
        [img]="'assets/images/calabresa.jpeg'"
        [id]="1"
        [namePizza]="'Pizza de Calabresa' | translate"
        [ingredients]="[
          'Calabresa' | translate,
          'Queijo' | translate,
          'Orégano' | translate
        ]"
        [price]="46"
        [priceWithPromotion]="42"
      ></app-model-card-pizza>
      <app-model-card-pizza
        class="show-row"
        *ngIf="this.selectButton === 3"
        [img]="'assets/images/chocolate e calabresa.jpeg'"
        [id]="1"
        [namePizza]="'Pizza de Chocolate' | translate"
        [ingredients]="['Chocolate' | translate, 'Queijo' | translate]"
        [price]="48"
        [priceWithPromotion]="44"
      ></app-model-card-pizza>

      <div class="chevron-right common-svg" (click)="chevronIncDec(+1)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <polygon
            points="7.293 4.707 14.586 12 7.293 19.293 8.707 20.707 17.414 12 8.707 3.293 7.293 4.707"
          />
        </svg>
      </div>

  </div>
  </div> -->
</div>
