<div class="sobre">
  <div id="sobre" class="id-rastreador-sobre"></div>
  <div class="title">{{"Quem Somos"|translate}}</div>
  <div class="borderLine flag-green" *ngIf="animationFlagItaly===1"></div>
  <div class="borderLine flag-white" *ngIf="animationFlagItaly===2"></div>
  <div class="borderLine flag-red" *ngIf="animationFlagItaly===3"></div>
  <div class="borderLine flag-italy" *ngIf="animationFlagItaly===4"></div>
  <div class="sub-content">
    <span class="comentario"><em>"Nós temos uma paixão inexplicável por pizza"</em></span>
  </div>
  <div class="sub-content">
    <span>
      A Pizza Amore adotou o conceito de "Pizza Artesanal" que leva o mesmo processo de fermentação de 12h, 24h, 48h. Toda maturação acontece
      em um ambiente refrigerado e com temperatura controlada e a massa é aberta na mão e leva na sua cobertura um bom molho de tomate pelati
      100% italiano como também os ingredientes que são de altíssima qualidade.
    </span>
  </div>
  <div class="sub-content">
    <span class="comentario"><em>"A pizza é feita de forma artesanal e com os ingredientes mais nobres"</em></span>
  </div>
  <div class="sub-content">
    <span>
      De acordo com os especialistas, a maturação da massa é o que a torna mais leve no momento da degustação pelo cliente e proporciona aromas
      e sabores surpreendentes. Para uma boa pizza é fundamental tratá-la com carinho e cuidado, pois são os detalhes fazem a diferença.
    </span>
  </div>
  <div class="sub-content">
    <span class="comentario"><em>"Nossa hostória começou fazendo pizza para a família"</em></span>
  </div>
</div>
