<div class="footerContent">
  <div id="contato" class="id-rastreador-footer"></div>
  <div class="logo-area">
    <img class="logo" src="assets/images/nova-logo-pizza-amore.jpeg" alt="">
  </div>
  <div *ngIf="animationFooterNumber===1" id="animation-footer"><div class="title-container" style="color: green;">Pizza Amore</div></div>
  <div *ngIf="animationFooterNumber===2" id="animation-footer"><div class="title-container" style="color: white;">Pizza Amore</div></div>
  <div *ngIf="animationFooterNumber===3" id="animation-footer"><div class="title-container" style="color: red;">Pizza Amore</div></div>
  <div *ngIf="animationFooterNumber===4" id="animation-footer"><div class="title-container"><span style="color: green;">Pizz</span><span style="color: white;">a Am</span><span style="color: red;">ore</span></div></div>
  <div class="powered-footer">{{'Desenvolvido por'|translate}} <a target="_blank" href="https://www.linkedin.com/in/enggabrielbarros/" >@Gabriel Barros</a></div>
</div>
