.navbar{
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  width: 100%;

  .container-navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 1;
    margin-left: 15px;

    .navbar-logo-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            font-size: 18px;
            font-family: "Satisfy";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 2px;
            text-decoration: none;

            svg {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                width: 20px;
                height: 20px;
                margin-left: 2px;
                margin-right: 2px;
                fill: rgb(255, 0, 0);

                &:hover{
                    fill: rgb(170, 16, 93);
                }
            }
        }
    }
  }
  .container-navbar-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    gap: 30px;
    flex: 1;

    .navbar-itens {
        a {
            font-size: 18px;
            font-family: "Staatliches";
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: 1px;
            text-decoration: none;
            &:hover{
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                padding: 10px;
            }
        }
    }
  }

  .directive-lang-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

}

.id-rastreador-navbar{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -100px;
}
