<div class="navbar-app">
  <app-navbar style="display: flex; flex-direction: row; min-width: 0; width: 100%;"></app-navbar>
</div>
<div class="news-publicity">
  <app-news-publicity></app-news-publicity>
</div>
<!--
<div class="pizza-especial">
  <app-pizza-especial></app-pizza-especial>
</div>
-->
<div class="pizza-salgada">
  <app-pizza-salgada></app-pizza-salgada>
</div>
<div class="pizza-doce">
  <app-pizza-doce></app-pizza-doce>
</div>
<div class="why-us">
  <app-why-us></app-why-us>
</div>
<div class="contact">
  <app-contact></app-contact>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
